.infoWrapper {
	display: flex;
	border: 1px solid darkblue;
	border-radius: 1rem;
	flex: 0 1 80%;
	background-color: white;
	padding: 0 0 0.35rem 2rem;
	margin: 0 0 0 1rem;

}

.personalBlock {
	font-size: 1rem;
	color: darkblue;
	flex: 1 0 70%;
}


.userName {
	font-weight: 700;
	font-style: italic;
	margin: 0;
}

.status {
	background-color: #bcbcbc30;
	color: #bcbcbc;
	border-radius: 0.35rem;
	margin: 1.8rem 0 0 0;
	padding: 0.2rem 0 0.5rem 0.3rem;
}

.locationBlock {
	font-size: 0.8rem;
	color: #101010;
	font-style: italic;
	flex: 0 0 20%;
}

.locationBlock p {
	margin: 0;
	padding: 0 1rem 0 0;
	text-align: right;
}