.app {
  border: 0;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 80%;
  height: 110vh;
  display: grid;
  grid-template: 4.5rem auto / 2fr 8fr;
  gap: 0.8rem;
}

.app__content {
  grid-area: 2/2/3/3;
  border-radius: 0.33rem;
	padding: 1rem;
  background-color: lightblue;
  position: relative;
}
